@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

:root {
  /* Colors  */
  --primary-color: #006877;
  --secondary-color: #4b6268;
  --tertiary-color: #904d00;
  --error-color: #ba1a1a;
  --background-color: #ba1a1a;
  --outline-color: #6f797b;
  --headline-color: #000;

  --primary-container-color: #a4eeff;
  --secondary-container-color: #cde7ee;
  --tertiary-container-color: #ffdcc2;
  --error-container-color: #ffdad6;

  /* Fonts */
  --size-h1: 2.5rem;
  --size-h2: 2rem;
  --size-h3: 1.5rem;
  --size-p: 1.125rem;
  --size-p2: 0.875rem;

  /* Border Radius */
  --border-radius-small: 0.1875rem;
  --border-radius-medium: 0.3125rem;
  --border-radius-large: 0.625rem;

  /* Gaps */
  /* 30px */
  --gap-large: 1.875rem;

  /* 20px */
  --gap-slarge: 1.25rem;

  /* 15px */
  --gap-medium: 0.9375rem;

  /* 10px */
  --gap-small: 0.625rem;
}

.phone-simulator {
  width: 345px;
  height: 812px;
  margin: 0 auto;
  border: 1px solid var(--headline-color);
  border-radius: 5px;
  padding: var(--gap-medium);
}

.page-title {
  margin-bottom: var(--gap-slarge);
}

.ticket-container {
  background-color: var(--secondary-container-color);
  border-radius: var(--border-radius-large);
  padding: var(--gap-large) var(--gap-medium);
}

.ticket-container__headline {
  display: flex;
  align-items: center;
  margin-bottom: var(--gap-slarge);
}

h1,
h2,
h3,
p {
  margin: 0px;
}

h1 {
  color: var(--headline-color);
  font-size: var(--size-h1);
  font-weight: 700;
}

h2 {
  color: var(--headline-color);
  font-size: var(--size-h2);
  font-weight: 700;
}

h3 {
  color: var(--headline-color);
  font-size: var(--size-h3);
  font-weight: 700;
}

.p-1 {
  color: var(--headline-color);
  font-size: var(--size-p);
}

.p-1--primary {
  color: var(--primary-color);
}

.p-2 {
  color: var(--headline-color);
  font-size: var(--size-p2);
}

.button {
  width: 100%;
  padding: var(--gap-medium);
  color: #fff;
  background-color: var(--primary-color);
  border-radius: var(--border-radius-medium);
  border: none;
  font-size: var(--size-p);
  cursor: pointer;
}

.button--disabled {
  background-color: var(--outline-color);
  cursor: not-allowed;
}
/* Input */

.input {
  margin-bottom: var(--gap-large);
}

.input__field {
  box-sizing: border-box;
  width: 100%;
  padding: var(--gap-medium);
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--outline-color);
  background-color: var(--secondary-container-color);
  color: var(--outline-color);
  font-size: var(--size-p2);
}

.input__field--error {
  border: 1px solid var(--error-color);
}

.input__field__error-message {
  color: var(--error-color);
}

.input__field:focus {
  outline: none !important;
  border: 1px solid var(--primary-color);
}

.input__label {
  font-size: var(--size-p2);
}
